header{
    border: 1px solid goldenrod;
}

header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.disabled{
    color: gray;
}

section a {
    color: purple;
}

section a .disabled{
    color: purple;
}

.month-list ul li:last-child a {
    color:purple;
}

.active{
    color: yellow;
}

.parent div div:first-child{
    color: red;
}

.parent div div{
    color:blue;
}

.parent h4:nth-child(2){
    background-color: red;
    width: fit-content;
}


.parent h4:last-child{
    background-color: blue;
    width: fit-content;
}

/* h4:nth-of-type(2){
    background-color: blue;
    width: fit-content;
} */

.grandparent > h4{
    border: 1px solid purple;
    border-radius: 15px;
    width: fit-content;
}

footer .promo{
    font-weight: bold;
    color: gold;
}

input[type = "text"]{
    height: 25px;
    width: 15vw;
}
